/* resets */

html {
  html scroll-behavior: smooth;
}

body {
  max-width: 60em; /* 960 pixels (16 em = 1 em) */
  padding: 0 1em 0 1em; /* (clockwise) (padding is always a positive value) padding-top, padding-right, padding-bottom, padding-left */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 246, 230);
  font-style: Georgia;
}


/* --- responsive image --- */

img{
  width: auto;
  max-width: 200%;
  height:auto;
}

/* hero figure/img */

figure.hero img {
margin: 0 -1em;
}

figure.hero figcaption {
  font-weight: normal;
  font-size: .75em;
  margin: 0 -1em;
}

/* headshot */


.headshot-byline {
  padding-top: 1.5rem;
}

img.headshot {
  max-width: 3em;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-right: .5rem;
}

a {
  color: rgb(35, 35, 35);
}

a:hover {
  color: rgb(57, 122, 158);
}

a:focus,
a:active {
  color: rgb(153, 27, 72);
}
/* navigation */

nav ol {
  padding-left: 3rem;
  margin: 0;
}

nav li {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1em;
}

nav a {
  font-weight: normal;
}
/*typographic details */

p {
  font: Georgia;
  color: rgb(51, 51, 51);
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.5; /* unitless, please!*/
  font-size: 1.2em;
}

header {
  font: Georgia, serif;
  font-weight: bold;
  color: rgb(35, 35, 35;
}

p.title {
  font-weight: bold;
  font: Georgia, serif;
}

p.publication {
  font-style: italic;
  margin: 0 1em;
}
